.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}
.nav > li {
  float: left;
}
.nav > li a {
  display: block;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav > li a:hover {
  background-color: black;
}

.icon {
  display: block;
  margin: auto;
  width: 55px;
  height: 55px;
  padding: 20px;
  float: left;
}

#hordeRaces {
  float: left;
  width: 100%
}
#allianceRaces {
  float: left;
  clear: left;
  width: 100%;
}

#originalRaces {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  overflow: hidden;
}

.classOnly {
  margin: 0;
}
