$base-color: #70B77E;

html {
  background-color: #C1C1C1;
  color: #0A0908;
  font-family: 'Taviraj', serif;
}

p {
  font-size: 18px;
}

.full-page {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #CE1483;
}

h4 {
  margin: 0;
}

.inputVal {
  width: 200px;
}

#signIn {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#racesAndClasses {
  display: flex;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $base-color;
  display: flex;

  li {
    float: left;

    a {
      display: block;
      color: #0A2463;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      &:hover {
        background-color: lighten($base-color, 10%);
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  background-color: darken($base-color, 10%);
  padding: 0;

  &.visible {
    display: flex;
  }
}

.icon {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
  padding: 20px;
  float: left;
}

#hordeRaces {
  float: left;
  width: 100%
}
#allianceRaces {
  float: left;
  clear: left;
  width: 100%;
}

#originalRaces {
  height: auto;
  overflow: hidden;
  flex-grow: 1;
}

#originalClasses {
  flex-grow: 1;
}

.maps {
  width: 50%;
  margin: 0 auto;
}

.classOnly {
  margin: 0;
}

body {
  margin: auto;
}

#form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  display: inline-block;
}

.hidden {
  display: none !important;
}

iframe {
  width: 100%;
  height: 20%;
  margin: 0 auto;
}
