html {
  background-color: #101058;
  color: white;
  font-family: 'Taviraj', serif; }

h1, h2, h3, h4, h5 {
  color: gold; }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #663300;
  display: flex; }
  .nav li {
    float: left; }
    .nav li a {
      display: block;
      color: gold;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      .nav li a:hover {
        background-color: #994d00; }

.dropdown-menu {
  position: absolute;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  background-color: #331a00;
  padding: 0; }
  .dropdown-menu.visible {
    display: flex; }

.icon {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
  padding: 20px;
  float: left; }

#hordeRaces {
  float: left;
  width: 100%; }

#allianceRaces {
  float: left;
  clear: left;
  width: 100%; }

#originalRaces {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  overflow: hidden; }

.maps {
  width: 50%;
  margin: 0 auto; }

.classOnly {
  margin: 0; }

#form {
  text-align: center; }

.hidden {
  display: none; }

iframe {
  width: 20%;
  height: 20%; }
